<form method="post" action="{% url 'website:SignUp' %}" enctype="multipart/form-data">
    {% csrf_token %}
    Name: <input type="text" name="name"> <br>
    Username: <input type="text" name="username"> <br>
    Password: <input type="password" name="password"> <br>
    <select class="dropbtn" required name="designation">Select
    <option value="1">Employee</option>
    <option value="2">Security</option>
        <option value="3">Admin</option>
    </select>
    <input type="file" name="photo" value="Photo"><br>
    <input type="submit" value="Submit">
</form>